.cap {
  @media screen and(min-width: 480px) {
     background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
     url('../images/img-mob.jpg');
     width: 480px;
     height: 400px;
     padding: 118px 0;

     @media (min-device-pixel-ratio: 2),
     (min-resolution: 192dpi),
     (min-resolution: 2dppx) {
       background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
         url('../images/img-mob@2x');
     }
  }

 @media screen and(min-width: 768px) {
   background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
     url('../images/img-tab.jpg');
   width: 768px;
   height: 400px;
   padding: 118px 0;

   @media (min-device-pixel-ratio: 2),
   (min-resolution: 192dpi),
   (min-resolution: 2dppx) {
     background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
       url('../images/img-tab@2x');
   }
 }

 @media screen and(min-width: 1200px) {
    width: 1200px;
    height: 600px;
    padding: 200px 0;
    margin-left: auto;
    margin-right: auto;
    background-color: #2f303a;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('../images/Img.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('../images/img@2x.jpg');
    }
 }
 
}

.cap-heading {
  margin-top: 0;
  margin-bottom: 30px;

  font-weight: 900;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;

  @media screen and(min-width: 480px) {
    font-size: 26px;
    line-height: 1.37;
  }

  @media screen and(min-width: 768px) {
    font-size: 26px;
    line-height: 1.37;
  }

  @media screen and(min-width: 1200px) {
    font-size: 44px;
    line-height: 1.37;
  }
}

.cap-button {
  border-radius: 4px;
  border: none;
  padding-top: 10px;
  padding-right: 32px;
  padding-bottom: 10px;
  padding-left: 32px;
  margin: 0 auto;

  background-color: #2196f3;
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  cursor: pointer;
}

.icon-button {
  width: 11px;
  height: 11px;

  margin: 0 auto;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: #000;
  cursor: pointer;
}
