.logo {
  // padding-top: 24px;
  // padding-bottom: 24px;
  font-family: raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--text-primary);

  @media screen and (min-width: 1200px) {
    padding-top: 24px;
    padding-bottom: 24px;
  }
}

span {
  color: #2196f3;
}

.footer__logo {
  color: #ffffff;
}
